Flask
flask-cors
environs
langchain
supabase
sentence_transformers
numpy
bilibili-api-python
beautifulsoup4
lxml
pdfminer
docx2txt
unstructured[all-docs]==0.11.0
wikipedia
unstructured
pdf2image
simsimd
openai
jieba

rapidocr_onnxruntime
rapidocr_paddle
pyMuPDF
nltk