fastapi
uvicorn
sse_starlette
environs
langchain
supabase
sentence_transformers
numpy
bilibili-api-python
beautifulsoup4
lxml
pdfminer
docx2txt
unstructured[all-docs]==0.11.0
httpx[brotli,http2,socks]==0.25.2
wikipedia
unstructured
pdf2image
simsimd
jieba

openai
zhipuai

fschat
strsimpy
markdownify

arxiv>=2.0.0
youtube-search>=2.1.2
duckduckgo-search>=3.9.9
metaphor-python>=0.1.23
langchain-experimental

rapidocr_onnxruntime
rapidocr_paddle
pyMuPDF
nltk

aiofiles