Flask
flask-cors
environs
langchain
sentence_transformers
numpy
bilibili-api-python
beautifulsoup4
lxml
pdfminer
docx2txt
unstructured[all-docs]==0.11.0
wikipedia
unstructured
pdf2image
simsimd
openai
jieba